<meta http-equiv="Refresh" CONTENT="30"/>
<% @zones.each do  |id,zone| %>
<div class="zone" id="<%= zone %>">
  <%= id.capitalize %>
  <div class="temp" id="temp_probe_<%= id %>">
    Last Temp:
    <p><%=raw format_temp(@last_temperature[zone["sensor"]]["current"]) %>  </p>
    <p><%=raw format_delta(@last_temperature[zone["sensor"]]["deltafive"]) %></p>
  </div>
</div>
<% end %>
<br style="clear:both;"/>
<div id="stage">
  Current stage: inactive
</div>
</body>
